@import "./color-functions.scss";
@import "./color-themes.scss";
@import "./variables.scss";

body {
    background-color: theme-color('background', 'base');
}

//Icons
.icon {
    width: 10%;
}

.icon-small {
    font-size: 20px;
}

.icon-large {
    font-size: 40px;
}

.icon-mr {
    margin-right: 20px;
}

.icon-mt {
    margin-top: 10px;
}

//Text
.text-dark {
    color: theme-color('text', 'dark');
}

.text-light {
    color: theme-color('text', 'light');
}

//Button
.btn {
    width: 180px;
    height: 45px;
    border-radius: 0px;
    border: 1px solid theme-color('foreground', 'base');
    margin: 5px;
    background-color: theme-color('foreground', 'base');
    transition: ease-out .2s;
    min-width: 150px;
}

.btn-large {
    width: auto;
    margin: 20px;
    height: 50px;
}

.btn-ghost {
    border: 1px solid theme-color('foreground', 'base');
    background: none;
    color: theme-color('foreground', 'base');
    font-size: 30px;
}

.btn:hover {
    cursor: pointer;
}

.btn-large:hover {
    cursor: pointer;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.my-auto {
    margin-top: auto;
    margin-bottom: auto;
}

.w-100 {
    width: 100%;
}

.w-90 {
    width: 90%;
}

.w-80 {
    width: 80%;
}

.w-20 {
    width: 20%;
}