@import "./assets/scss/general.scss";

.App {
    font-family: Arial, Helvetica, sans-serif;
    background-color: theme-color('primary', 'base');
    color: theme-color('text', 'base');
    margin-left: 192px;
  }